## Clase 1

- **Descarga:** Para esta clase se utilizará el editor Jupyter Notebook de [Anaconda](https://www.anaconda.com/products/individual) con Python3


- **Atajos:** Algunos atajos útiles los podemos encontrar [aquí](https://cheatography.com/jorgejuan007/cheat-sheets/jupyter-notebook-atajos-de-teclado/)


- **Gestores:** Este [gestor](https://chocolatey.org/install) que opera en el Windows PowerShell nos sirve para instalar software y compiladores de manera adecuada así como desisntalarlos sin preocuparse de que esto genere problemas para una futura actualización o reinstalaicón del softweare o compilador.

Veamos qué versión de Python tenemos instalada:

In [1]:
# Para ello necesitamos importar el siguiente módulo
import sys
print(sys.version)

3.7.8 | packaged by conda-forge | (default, Jul 23 2020, 03:54:19)
[GCC 7.5.0]

## Operaciones

Podemos efectuar operaciones matemáticas como si de una calculadora cientídica se tratáse

In [6]:
a = 3
b = 2

In [7]:
a + b

5

In [9]:
a - b

1

In [10]:
a*b

6

In [11]:
a/b

1.5

In [12]:
a**b

9

In [13]:
c = 4

In [18]:
a + b*c

11

In [19]:
(a + b)*c

20

In [17]:
a*c**b

48

In [20]:
(a*c)**b

144

In [14]:
c**(1/2)

2.0

In [24]:
1/(a**3 + b)

0.034482758620689655

In [25]:
1/(a**3 + b)*c

0.13793103448275862

In [29]:
1/((a**3 + b)*c)

0.008620689655172414

### Imprimir datos

Para mostar en pantalla algun texto o variable existe la función **print()**. A continuación veremos algunos ejemplos de cómo imprimir:

In [3]:
frase = input("Ingrese una frase")
print("La frase es: %s" %frase)
print("La frase es:", frase)
print("La frase es: " + frase)
print()

Ingrese una fraseHola Hommies
La frase es: Hola Hommies
La frase es: Hola Hommies
La frase es: Hola Hommies

In [29]:
nom = input("Ingrese su nombre: ")
edad = input("Ingrese su edad: ")
print("Su nombre es: %s y su edad es: %s" %(nom,str(edad)))
print("Su nombre es:",nom,"y su edad es:",edad)
print("Su nombre es: " + nom + " y su edad es: "  + str(edad))

Ingrese su nombre: Tony
Ingrese su edad: 23
Su nombre es: Tony y su edad es: 23
Su nombre es: Tony y su edad es: 23
Su nombre es: Tony y su edad es: 23

In [27]:
print("Esto es un \ntexto separado")

Esto es un
texto separado

## Tipos de Variables

Para esta parte sólo nos intereserán los siguientes tipos de datos: **int, float, string, list, tuple, dic & set**.

### Int

Este tipo de datos se refiere a todos los números enteros $Z$, en este caso, cualquier número real que no contenga un decimal

In [3]:
type(2)

int

In [4]:
type(4+5)

int

In [27]:
type(2**3)

int

In [28]:
type(b)

int

### float

Este tipo de dato numérico es cualquier real $R$ con punto decimal

In [15]:
# Declaremos o renombremos otras variables
a = 2
b = 3.0
c = 2.5

In [16]:
print(type(a))
print(type(b))
print(type(c))

<class 'int'>
<class 'float'>
<class 'float'>

In [21]:
print(type(a*b))
print(type(a**b))
print(type(((a)**2)**(1/2)))
print(type(b*c))
print()

<class 'float'>
<class 'float'>
<class 'float'>
<class 'float'>

### Strings

Este tipod e datos son cadena de texto, las cuales pueden ser letras, oraciones, números, símbolos o cualquier otro ipo de dato mientras esté este entre comillas dobles " o comillas '.

In [2]:
s1 = "a"
s2 = 'Hola Hommies'
s3 = "23"
s4 = '#$%'
s5 = "[1,2,3,(1,2)]"

In [35]:
print(type(s1))
print(type(s2))
print(type(s3))
print(type(s4))
print(type(s5))

<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>

Podemos convertir una oración a la misma con todas sus letras en mayúsculas

In [3]:
s2.upper()

'HOLA HOMMIES'

#### Operaciones con strings

Podemos hacer las siguientes manipulaciones de variables strings:

- Concatenar
- Acceder a elementos específicos del string
- Slicing
- Stride
- Replace
- Find
- Split

**Concatenar**

In [5]:
s6,s7 = "Hola " , "Hommies"

In [6]:
s8 = s6 + s7
print(s8)

Hola Hommies

Las podemos multiplicar

In [7]:
print(2*s8)

Hola HommiesHola Hommies

**Acceder a elementos específicos del string**

- Acceder al primer elemento del string **s2**

In [38]:
s2[0]

'H'

In [40]:
# Más ejemplos
print(s2[1])
print(s2[8])

o
m

- Acceder al último elemento

In [41]:
s2[-len(s2)]

'H'

In [42]:
s2[-4]

'm'

In [44]:
s2[-len(s2) + 1]

'o'

- **Slicing**

Esto nos ayuda a obtener una secuencia de un string. Veamos varios ejemplos y deduzcamos qué pasa

In [46]:
print(s2[0:])
print(s2[:])

Hola Hommies
Hola Hommies

In [48]:
print(s2[0:5])

Hola

In [50]:
print(s2[5:len(s2)])

Hommies

- **Stride**

Un tipo especial de slicing es **stride** en el cual sólo nos interesa imprimir números de acuerdo a una condición de secuencia

In [8]:
print(s2[::2])

Hl ome

In [9]:
print(s2[1::3])

o me

In [10]:
print(s2[3:8:2])

aHm

- **Replace**

Sustituye cierta palabra con otro en un string

In [11]:
s9 = "Jeffrie Epstein no se suicidó :u"

In [12]:
s10 = s9.replace('no', 'si')
print(s10)

Jeffrie Epstein si se suicidó :u

- **Find**

Nos ayuda a encontrar el índice a partir del cula se halla alguna cadena de texto en un string y si no se encuentra no retorna el valor $-1$

In [14]:
s10.find("Epstein")

8

In [16]:
s10.find("rie")

4

In [18]:
s10.find("Hommies")

-1

- **Split**

Retorna un string de acuerdo a cierta condiciones impuestas a otro string donde se divide el string de acuerdo a un caracter

In [21]:
s10.split()

['Jeffrie', 'Epstein', 'si', 'se', 'suicidó', ':u']

In [22]:
s11 = "Jeffrie,Epstein,no,se,suicidó :u"

In [25]:
s11.split(",")

['Jeffrie', 'Epstein', 'no', 'se', 'suicidó :u']

In [28]:
s10.split("n")

['Jeffrie Epstei', ' si se suicidó :u']

In [30]:
s11.split("," , )

['Jeffrie', 'Epstein', 'no', 'se', 'suicidó :u']

El tipo de dato que retorna es una lista, tema para la siguiente clase

In [32]:
type(s11.split())

list